<div class="middle">
            <span>Время</span>
            <div class="multi-range-slider">
                <form class="multi-range-slider" name="myform" 
                oninput="rangeValueLeftAmount.value = rangeLeftAmount.valueAsNumber; 
                        rangeValueRightAmount.value = rangeRightAmount.valueAsNumber;
                        params.amount_from = rangeValueLeftAmount.value;
                        params.amount_to = rangeValueRightAmount.value;
                        params.offset = 0;
                        loadData(params, true);">
                    <output name="rangeValueLeftAmount" for="input-left-amount" >{{ amount.min_amount }}</output>
                    <div class="slider-amount">
                        <input name="rangeLeftAmount" type="range" id="input-left-amount" min="{{ amount.min_amount  }}" max="{{ amount.max_amount }}" value="{{ amount.min_amount  }}">
                        <input name="rangeRightAmount" type="range" id="input-right-amount" min="{{ amount.min_amount }}" max="{{ amount.max_amount }}" value="{{ amount.max_amount}}">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                    <output name="rangeValueRightAmount" for="input-right-amount" >{{ amount.max_amount }}</output>
                </form> 
            </div>
            
</div>
