 <div class="middle">
            <span class="fw-bold mb-2">Цена</span>
            <div class="multi-range-slider">
                <form class="multi-range-slider" name="priceForm" 
                oninput="rangeValueLeftPrice.value = rangeLeftPrice.valueAsNumber.toLocaleString('ru-RU') + '₽'; 
                        rangeValueRightPrice.value = rangeRightPrice.valueAsNumber.toLocaleString('ru-RU') + '₽';
                        params.price_from = rangeLeftPrice.valueAsNumber;
                        params.price_to = rangeRightPrice.valueAsNumber;
                        params.offset = 0;
                        loadData(params, true);">
                    
                    <div class="slider-price">
                        <input name="rangeLeftPrice" type="range" id="input-left-price" min="{{ price.min_price }}" max="{{ price.max_price }}" value="{{ price.min_price }}">
                        <input name="rangeRightPrice" type="range" id="input-right-price" min="{{ price.min_price}}" max="{{ price.max_price}}" value="{{ price.max_price }}">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                    <div class="slider_values">
                        <output name="rangeValueLeftPrice" for="input-left-price" >{{ price.min_price|number_format(0, '.', ' ') }}₽</output>
                        <output class="slider_right_value" name="rangeValueRightPrice" for="input-right-price" >{{ price.max_price|number_format(0, '.', ' ') }}₽</output>
                    </div>
                    
                </form> 
            </div>
            
</div>