<div class="middle">
            <span class="fw-bold mb-2">Цена в месяц</span>
            <div class="multi-range-slider">
                <form class="multi-range-slider" name="myform" 
                oninput="rangeValueLeftPriceMonth.value = rangeLeftPriceMonth.valueAsNumber.toLocaleString('ru-RU') + '₽'; 
                        rangeValueRightPriceMonth.value = rangeRightPriceMonth.valueAsNumber.toLocaleString('ru-RU') + '₽';
                        params.price_month_from = rangeLeftPriceMonth.valueAsNumber;
                        params.price_month_to = rangeRightPriceMonth.valueAsNumber;
                        params.offset = 0;
                        loadData(params, true);">
                    
                    <div class="slider-price-month">
                        <input name="rangeLeftPriceMonth" type="range" id="input-left-price-month" min="{{ price_month.min_price  }}" max="{{ price_month.max_price }}" value="{{ price_month.min_price  }}">
                        <input name="rangeRightPriceMonth" type="range" id="input-right-price-month" min="{{ price_month.min_price }}" max="{{ price_month.max_price }}" value="{{ price_month.max_price}}">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                    <div class="slider_values">
                        <output name="rangeValueLeftPriceMonth" for="input-left-price-month" >{{ price_month.min_price|number_format(0, '.', ' ') }}₽</output>
                        <output class="slider_right_value" name="rangeValueRightPriceMonth" for="input-right-price-month" >{{ price_month.max_price|number_format(0, '.', ' ') }}₽</output>
                    </div>
                    
                </form> 
            </div>
            
</div>