<div class="activity_create_form">
    <form class="row js-types-form" id="form-edit" method="post" action="/admin/createActivity">
        <div class="mb-3 col-4">
            <label for="title" class="form-label">Название</label>
            <input  type="hidden" class="form-control js-type-id" name="id">
            <input type="text" class="form-control js-types-input" id="title" name="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-4">
            <label for="institute_id" class="form-label">Учреждение</label>
            <select class="form-select js-types-input js-institute-id" aria-label="Default select example" id="institute_id" name="institute_id">
                <option selected>Выберете учреждение</option>
                {% for institute in institutes %}
                    <option value="{{ institute.id }}">{{ institute.title }}</option>
                {% else %}

                {% endfor %}
            </select>
        </div>
        <div class="mb-3 col-4">
            <label for="activity_type_id" class="form-label">Тип</label>
            <select class="form-select js-types-input js-types-id" aria-label="Default select example" id="activity_type_id" name="activity_type_id">
                <option selected>Выберете тип</option>
                {% for type in types %}
                    <option value="{{ type.id }}">{{ type.title }}</option>
                {% else %}

                {% endfor %}
            </select>
        </div>
        <div class="mb-3 col-2">
            <label for="age_from" class="form-label">Возраст от</label>
            <input type="number" class="form-control js-types-input" id="age_from" name="age_from" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-2">
            <label for="age_to" class="form-label">Возраст до</label>
            <input type="number" class="form-control js-types-input" id="age_to" name="age_to" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-2">
            <label for="amount_of_week" class="form-label">Частота</label>
            <input type="number" class="form-control js-types-input" id="amount_of_week" name="amount_of_week" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-2">
            <label for="duration_time" class="form-label">Длительность</label>
            <input type="number" class="form-control js-types-input" id="duration_time" name="duration_time" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-2">
            <label for="price" class="form-label">Стоимость за занятие</label>
            <input type="number" class="form-control js-types-input" id="price" name="price" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-2">
            <label for="price_month" class="form-label">Стоимость за месяц</label>
            <input type="number" class="form-control js-types-input" id="price_month" name="price_month" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-9">
            <label for="contacts" class="form-label">Контакты</label>
            <textarea class="form-control js-types-input" id="contacts" name="contacts" aria-describedby="emailHelp"></textarea>
        </div>
        <input class="form-control" type="hidden" name="user_id" value="{{ user.id }}">
        <div class="send_form_activities col-3 ">
            <button class="btn btn-secondary mx-3 js-button-clear">Очистить</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <p class="h5 text-success js-types-notification">Идет редактирование "типа активности": </p>
    </form>
</div>