<div class="activity_create_form">
    <form class="row js-types-form" id="form-edit" method="post"
            {% if oldFields and oldFields.id %}
                action="/admin/updateInstitutes"
                data-errors-form="{{ oldFields.id }}"
            {% else %}
                action="/admin/createInstitutes"
            {% endif %}
    >
        <div class="mb-3 col-lg-9">
            <label for="title" class="form-label">Название</label>
            <input type="hidden" class="form-control js-type-id" name="id"
                    {% if oldFields and oldFields.id %}
                        value="{{ oldFields.id }}"
                    {% endif %}
            >
            <input type="text" class="form-control js-types-input" id="title" name="title" aria-describedby="emailHelp"
                    {% if oldFields and oldFields.title %}
                        value="{{ oldFields.title }}"
                    {% endif %}
            />
            {% if errorsFields and errorsFields.title %}
                <span class="text-danger js-errors-notification">{{ errorsFields.title }}</span>
            {% endif %}
        </div>
        <div class="send_form_activities col-lg-3 align-items-start js-button-table-box">
            <button class="btn btn-secondary mx-3 js-button-clear">Очистить</button>
            <button type="submit" class="btn btn-primary js-button-submit"
                    onclick="return confirm('Вы уверенны что хотите сохранить?')"
                    disabled
            >
                {% if oldFields and oldFields.id %}
                    Сохранить
                {% else %}
                    Добавить
                {% endif %}
            </button>
        </div>
    </form>
    {% if oldFields and oldFields.id %}
        {% set instituteEdit = institutes|filter((v, k) => v.id == oldFields.id) %}
        <div class="js-types-notification">
            <span style="color: green">Редактирование:</span><br>
            <table class="table table-striped table-hover align-middle">
                <tbody>
                <tr>
                    <th scope="row" class="col-1">{{ instituteEdit|first.id }}</th>
                    <td class="col-11">{{ instituteEdit|first.title }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="js-types-notification"></div>
    {% endif %}

</div>