<!--{% include 'partials/activities_list.twig' %}-->

<div class="container mb-2">
        <form class="wrapper d-flex justify-content-center align-self-center mt-3 mx-auto" role="search">
            <input class="form-control me-2 mw-100" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Найти</button>
        </form>
        <div class="d-flex mt-3">
            <div class="dropdown me-2">
                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Тип</button>
                <div class="dropdown-menu">
                    {% for type in types %}
                        <a href="#" class="dropdown-item">{{ type.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown me-2">
                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Сортировать</button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Название</a>
                    <a href="#" class="dropdown-item">Учреждение</a>
                    <a href="#" class="dropdown-item">Тип</a>
                    <a href="#" class="dropdown-item">Цена</a>
                </div>
            </div>
            <i class="fa-solid fa-arrow-down-short-wide fa-xl text-primary align-self-center ms-auto" role="button"></i>
        </div>
        {% for activity in activities %}
            <div id="card-main-container" class="activity_card d-block mb-3">
                <div class="d-flex">
                    <div class="col">
                        <div class="fw-bold">{{ activity.title }}</div>
                        <div class="mb-2">{{ activity.institute}}<br>
                        <div class="text-primary">{{ activity.type }}</div></div>
                    </div>
                    <div class="">
                            <div class="text-end">{{ activity.price }}  ₽/занятие</div>
                            <div class="card_price_month text-secondary text-end">{{ activity.price_month }} ₽/месяц</div>
                    </div>
                </div>
                <div class="col-sm-12">
                        <div class="text-secondary card_secondary_info">Возраст: {{ activity.age }}</div>
                        <div  class="text-secondary card_secondary_info">Продолжительность: {{ activity.duration_time }} минут</div >
                        <div  class="text-secondary card_secondary_info">В неделю: {{ activity.amountOfWeek}}</div >
                        <div  class="text-secondary fw-bold card_secondary_info">Контакты: {{ activity.contacts}} </div >
                </div>
            </div>
        {% else %}
        <div class="h-100 d-flex align-items-center justify-content-center">
                <h2>Список активностей пуст</h2>
        </div>
        {% endfor %}
</div>