<tr class="text-center align-center">
    <th scope="row">{{ row_count }}</th>
    <td class="text-start ps-2">{{ activity.title }}</td>
    <td>{{ activity.institute_title }}</td>
    <td>{{ activity.type_title }}</td>
    <td>{{ activity.age }}</td>
    <td>{{ activity.amount_of_week }}</td>
    <td>{{ activity.duration_time }}</td>
    <td>{{ activity.priceFormated }} ₽</td>
    <td>{{ activity.priceMonthFormated }} ₽</td>
    <td>{{ activity.contacts }}</td>
    {% if user_auth and page_admin %}
        <td>
            <i class="fa-solid fa-pencil text-success mx-2 activity_action_btn"></i>
            <i class="fa-solid fa-trash-can text-danger mx-2 activity_action_btn"></i>
        </td>
    {% endif %}
</tr>