<div class="activity_list">
    <table class="table table-striped table-hover mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название <i class="fa-solid fa-arrow-down"></i></th>
            <th scope="col">Учреждение <i class="fa-solid fa-arrow-down"></i></th>
            <th scope="col">Тип <i class="fa-solid fa-arrow-down"></i></th>
            <th scope="col">Возраст</th>
            <th scope="col">Раз в неделю <i class="fa-solid fa-arrow-down"></i></th>
            <th scope="col">Продолжительность <i class="fa-solid fa-arrow-down"></i></th>
            <th scope="col">Цена <i class="fa-solid fa-arrow-down"></i></th>
            <th scope="col">Цена за месяц <i class="fa-solid fa-arrow-down"></i></th>
            <th scope="col">Контакты</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <th scope="row">{{ activity.id }}</th>
                <td class="js-types-content">{{ activity.title }}</td>
                <td class="js-types-content">{{ activity.institute }}</td>
                <td class="js-types-content">{{ activity.type }}</td>
                <td>
                    {{ activity.age }}
                    <div class="js-types-content d-none">{{activity.age_from}}</div>
                    <div class="js-types-content d-none">{{activity.age_to}}</div>
                </td>
                <td class="js-types-content">{{ activity.amount_of_week }}</td>
                <td class="js-types-content">{{ activity.duration_time }}</td>
                <td class="js-types-content price-rub">{{ activity.price }}</td>
                <td class="js-types-content price-rub">{{ activity.price_month }}</td>
                <td class="js-types-content">{{ activity.contacts }}</td>
                <td>
                    <a href="#" class="js-types-link__edit" data-id="{{ activity.id }}"><i class="fa-solid fa-pencil text-success mx-2 activity_action_btn"></i></a>
                    <a href="/admin/deleteActivity?{{ activity.id }}"><i class="fa-solid fa-trash-can text-danger mx-2 activity_action_btn"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th colspan="10" class="text-center">Список активностей пуст.</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
