<div class="activity_list-admin">
        <table class="table table-striped table-hover align-middle mt-5">
            <thead class="text-success">
            <tr class="align-top text-center">
                <th rowspan="2">ID</th>
                <th rowspan="2">Название</th>
                <th rowspan="2">Учреждение</th>
                <th rowspan="2">Тип</th>
                <th rowspan="2">Возраст</th>
                <th colspan="2" class="px-3">Продолжительность</th>
                <th colspan="2">Стоимость</th>
                <th rowspan="2">Контакты</th>
                <th scope="col">Действия</th>
            </tr>
            <tr class="align-top text-center">
                <th><i class="fas fa-wave-square" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Раз в неделю"></i></th>
                <th><i class="far fa-clock" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Продолжительность м."></i></th>
                <th><i class="fas fa-calendar-day" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Занятие"></i></th>
                <th><i class="fas fa-calendar-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Месяц"></i></th>
            </tr>
            </thead>
        <tbody>
        {% for activity in activities %}
            <tr class="text-center align-center">
                <th scope="row" data-field="id">{{ activity.id }}</th>
                <td data-field="title">{{ activity.title }}</td>
                <td data-field="institute_id" data-target-institute-id="{{ activity.institute_id }}">{{ activity.institute_title }}</td>
                <td data-field="activity_type_id" data-target-type-id="{{ activity.type_id }}">{{ activity.type_title }}</td>
                <td>
                    {{ activity.age }}
                    <div class="d-none" data-field="age_from">{{activity.age_from}}</div>
                    <div class="d-none" data-field="age_to">{{activity.age_to}}</div>
                </td>
                <td data-field="amount_of_week" class="col">{{ activity.amount_of_week }}</td>
                <td data-field="duration_time" class="col">{{ activity.duration_time }}</td>
                <td class="price-rub" class="col" data-field="price">{{ activity.price }}</td>
                <td class="price-rub" class="col" data-field="price_month">{{ activity.price_month }}</td>
                <td data-field="contacts" class="col-2">{{ activity.contacts }}</td>
                <td class="col">
                    <i class="fa-solid fa-pencil text-success mx-2 js-types-link__edit activity_action_btn"></i>
                    <a href="/admin/deleteActivity?{{ activity.id }}" onclick="return confirm('Вы уверенны что хотите удалить?')">
                        <i class="fa-solid fa-trash-can text-danger mx-2 activity_action_btn"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th colspan="10" class="text-center">Список активностей пуст.</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
